MAIN_VITE_API_URL_DEV=http://localhost:8000/api/v1 # адрес бэкенда для dev - заменить на действительный
MAIN_VITE_API_URL=https://your-site/api/v1 # адрес бэкенда для prod - заменить на действительный
DEV=false
MAIN_VITE_CUSTOM_CLOSE_APP_HOTKEY=Shift+B+8 # сочетание клавиш для закрытия приложения (действует при повторном нажатии в течение 3 секунд)
