{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrder": [
    "^react",
    "^electron",
    "<THIRD_PARTY_MODULES>",
    "^@shared/(.*)$",
    "^@renderer/(.*)$",
    "^[./]",
    "^(.*)\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
