*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
